{% extends 'posts/base.html' %}
{% block content %}

{% load staticfiles %}

  {% block head %}
      <link rel="stylesheet" href="{% static 'css/article_form.css' %}">
  {% endblock %}


<div class="kontainer">  
  <form id="contact" action="" method="post" enctype="multipart/form-data">

    <h3>استخدام حساب</h3>


    <fieldset>

        {%  csrf_token  %}



        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                    <span class="text-danger samll">{{ form.errors }}</span>
            </div>

              <p>
                <label for="id_username">المستخدم</label>
                {{ form.username }}
              </p>
              <p>
                <label for="id_password">كلمة السر</label>
                {{ form.password }}
              </p>
      

        </div>




  </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" class="btn btn-success" data-submit="...Sending">Submit</button>
    </fieldset>
    <hr />

        <div class="user-register">
       <a href="{% url 'posts:register' %}"> <p> من أجل التسجيل في الموقع </p></a>

        </div>   
  </form>





</div>


<!--  https://codepen.io/colorlib/pen/KVoZyv  -->





{% endblock content %}