#header {
    width: 100%;

      z-index: 1;
  /* in this example, header height is unknown -- 
     content is duplicated to match height in .main div */
  /* cover full width when zoomed */
  width: 100%;

}
.header-basic {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
/*	padding: 20px 40px;*/
/*	height: 80px;      */
	box-sizing: border-box;
}

.header-limiter {
top: 0px;
left: 0px;
right: 0px;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
-ms-transform: translateY(0px);
-o-transform: translateY(0px);
transform: translateY(0px);
transition: all 1.0s ease-in-out;
z-index: 1001;
height: 47px;
background-color: black;
width: 100%;
text-align: center;
}

/* Logo */

.header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-limiter h1 span {
	color: #76C5B9;
}

/* The header links */

.header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-limiter nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}


.header-limiter nav a{
	display: inline-block;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
	margin-left: 8px;
}

.header-limiter nav a:hover{
	opacity: 1;
}

.header-limiter nav a.selected {
	color: #76C5B9;
	pointer-events: none;
	opacity: 1;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

#header {
    width: 100%;
    margin-top: 47px;
}
.header-basic {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
/*	padding: 20px 40px;*/
/*	height: 80px;      */
	box-sizing: border-box;
	height: 100px;
}

	.header-limiter h1 {
	
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: normal;
	}

	.header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-limiter nav a {
		font-size: 13px;
	}
.header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;

    width: 100%;
      height: 100%;
      margin:0px;
}
}





.box{
	display: inline-block;
	clear: both;


text-align: center;
}
.container-2{

}

.container-2 input#search{

float: left;
margin-top: 7px;

}





.container-2 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-2 .icon{
  position: relative;
  top: 50%;
  margin-left: 9px;
  margin-top: 7px;
  z-index: 1;
  color: #4f5b66;
}


.container-2  .name{
    background: #FFFF99;
}

.zone2 {
    display: inline-block;
}


/* Login/Sign up buttons */

.zone1 ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.zone1 ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.zone1 ul li:hover{
	opacity: 1;
}

/* The sign up button */

.zone1 ul li:last-child a {
font-weight: bold;
background-color: #3a3c3e;
padding: 15px 15px;
border-radius: 3px;
}


/*     Segundo menu       */

.header-menu-wrapper {
    background-color: #E9E9E9;
    border-bottom: 1px solid #D6D6D6;
}

.mnm-center-in-wrap {
    margin: 0 auto;
    max-width: 1300px;
    width: 99%;
    text-align: left;
}

.header-menu01 {
    height: 36px;
    padding-top: 4px;
}

.header-menu01 ul.menu01-itemsl {
    list-style-type: none;
    margin-top: 4px;
    padding: 0;
 /*   float: right;*/
}
.header-menu01 ul li {
    position: relative;
    float: right;
}
.menu01-itemsl li {
    margin-left: 20px;
}
.header-menu01 .selected a {
    white-space: nowrap;
}
.header-menu01 ul li a {
    color: #101010;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 9px;
    margin-right: 35px;
}
ul.menu01-itemsl li a {
    text-transform: uppercase;
    color: #101010;
    font-size: 13px;
}
.header-menu01 .selected a, .header-menu01 ul li a:hover {
    border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color: cadetblue;
}
.header-menu01 .selected a, .header-menu01 ul li a{
    border-bottom-style: solid;
border-bottom-width: 1px;
}
.header-menu01 .selected a {
    white-space: nowrap;
}
.header-menu01 ul li a {
    color: #101010;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 9px;
}



}ul.menu01-itemsl li a {

    text-transform: uppercase;
    color: black;
    font-size: 13px;
}



.header-menu01 a {
    font-size: 12px;
    font-weight: 600;
}
a {
    text-decoration: none;
    outline: none;
    vertical-align: baseline;
    color: #03a;
}
