.tab-content ul a {
    color: #0d0d0ecc;
    font-weight: bold;
}
.wrapper {

  margin: 0 auto;
  margin-top: 40px;/*background: $white;
  padding: 40px;
  border: 1px solid $border-gray;*/
  color: black;
}

.wrapper .tabs-wrapper { overflow: hidden; }

.wrapper .tabs-wrapper .tab-content a:hover { text-decoration: underline; }

.wrapper .tabs-wrapper .tab-content ul {
  margin: 0;
  padding-left: 20px;
  list-style: square;
}

.wrapper .tabs-wrapper .tab-content ul li { margin-bottom: 5px; }

.animated {
  -webkit-animation-duration: 150ms;
  animation-duration: 150ms;
}
 @media screen and (max-width: 640px) {

.logo-wrapper img { width: 320px; }

.wrapper {
  width: auto;
  padding: 0px 20px;
  margin-top: 70px
}
}

.tabs-wrapper {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.tabs-wrapper select.tab-nav { display: none; }

.tabs-wrapper ul.tab-nav {
  list-style: none;
  display: block;
  border-bottom: 1px solid #DEDEDE;
  margin: 0px;
  padding: 0px 30px;
}

.tabs-wrapper ul.tab-nav li {
  display: inline-block;
  margin-right: 5px;
}

.tabs-wrapper ul.tab-nav li a {
  text-decoration: none;
  color: #007FD3;
  padding: 12px 20px;
  border: 1px solid #DEDEDE;
  border-bottom-width: 1px solid transparent;
  display: block;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: -1px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.tabs-wrapper ul.tab-nav li.active a {
  border-bottom: 1px solid #FAFAFA;
  background: #FAFAFA;
}

.tabs-wrapper ul.tab-nav li:hover a { background: #FAFAFA; }

.tabs-wrapper .target-tabs {
  background: #FAFAFA;
  border: 1px solid #DEDEDE;
  border-top-width: 0px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.tabs-wrapper .target-tabs .tab-content {
  display: none;
 /* padding: 30px;*/
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.tabs-wrapper .target-tabs .tab-content .tab-heading .tab-no {
  font-size: 28px;
  font-weight: light;
}

.tabs-wrapper .target-tabs .tab-content p {
  line-height: 24px;
  word-spacing: 1px;
}

.tabs-wrapper .target-tabs .tab-content.active { display: block; }

.tabs-wrapper .target-tabs .tab-content.inactive { position: absolute; }

.tabs-wrapper .target-tabs .tab-content a {
 /* color: #007FD3;*/
  text-decoration: none;
}
 @media screen and (max-width: 640px) {

.tabs-wrapper ul.tab-nav { display: none; }

.tabs-wrapper select.tab-nav {
  width: 100%;
  padding: 15px;
  background: #FFF;
  border: 1px solid #DEDEDE;
  border-radius: 2px 2px 0px 0px;
  display: block;
}

.tabs-wrapper select.tab-nav:focus { outline: none; }

.tabs-wrapper .target-tabs { border-radius: 0px 0px 2px 2px; }
}

.tab-content li {
  /*  display: block;*/
    color: black;
    text-align: right;
    padding: 16px;
  
}

.tab-nav a {
    background-color: #fefefe;
}

.avatar img{
  /*  display: block;*/
border: 4px solid black;
width: 250px;
height: 200px;
margin: 0 auto;
text-align: center;

}

.avatar-user{
  /*  display: block;*/

box-shadow: 0px 10px 25px #000000;
background-color: #00000080;
margin: 0 auto;
text-align: center;
width: 30%;

}
.avatar-user h1{
  /*  display: block;*/


color: #f3e4a9;

}
.context{

 color: rgba(255, 255, 255, 0.5);
background-color: #459cb8cc;
background-image: url(https://www.transparenttextures.com/patterns/arabesque.png);
}
.avatar{
  /*  display: block;*/
display: block;
padding-top: 35px;
margin: 0 auto;
text-align: center;






}


.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}


.zone-password {
width: 50%;
display:block;
padding: 12px 20px;
margin: 20px 45px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
.zone-password label{
width:30%; 
display:inline-block; 
position:relative;
margin: 1px;

}
.zone-password input{
width:70%; 
display:inline-block; 
position:relative;

}
.zone-avatar {
width: 50%;
display:inline-block; 
padding: 12px 20px;
margin: 20px 45px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
position:relative;

}
@media (max-width: 767px) {
.zone-password {
width: -moz-available;
padding: 12px 20px;
margin: 10px 5px;
border: 1px solid #ccc;
}


.zone-avatar {
width: -moz-available;
padding: 12px 20px;
margin: 10px 5px;
border: 1px solid #ccc;
}

.zone-avatar a{
display: block;
}
}