
{% load staticfiles %}

<!DOCTYPE html>
<html dir="rtl" lang="ar">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="footer, links, icons" />
    <title>اخر الاخبار</title>


    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/tab.css' %}">

    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>



    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="css/footer-distributed.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!--  icon Home -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  {% block head %}
  {% endblock %}
<!-- share buton http://platform.sharethis.com/get-the-code-->
  <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=590520cb26d2ca00114f4d37&product=inline-share-buttons"></script>  
<!-- share buton http://platform.sharethis.com/get-the-code-->
  </head>




  <body>  

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


    <header class="header-basic">

      <div class="header-limiter">

        <h1><a href="#">Company<span>logo</span></a></h1>

      


  
          <!--  <a href="#">Home</a>
          <a href="#" class="selected">Blog</a>
          <a href="#">Pricing</a>
          <a href="#">About</a>
          <a href="#">Faq</a>  -->

    <div class="zone1">
    <ul>




            {% if user.is_authenticated %}  
           <li><a href="{% url 'posts:logout' %}">logout</a></li>
           {% else %}
           <li><a href="{% url 'posts:login' %}">Login</a></li>
           {% endif %}
      
 <!--     <li><a href="{% url 'posts:login' %}">Login</a></li> -->
      <li><a href="{% url 'posts:register' %}">Sign up</a></li>
    </ul>
          <nav>
          <a class="home" href="{% url 'posts:index' %}"> الرئيسية<i class="fa fa-home"></i></a>

          <a class="add-news" href="{% url 'posts:article-create' %}"> اضافة الخبر<i class=" fa fa-plus-circle"></i></a>
          </nav>



    </div>


        <div class="box">
          <div class="container-2">
            <form method="GET" action="">
            <input type="text" id="search" name="q" placeholder="البحث..." value="{{ request.GET.q }}" />
            <button class="icon"><i class="fa fa-search"></i></button>
            </form>
          </div>          
        </div>  

      </div>
   
    <div class="header-menu-wrapper">
    <div id="header-menu" class="mnm-center-in-wrap">
<div class="header-menu01"> 

<ul class="menu01-itemsl">
<li title="user_profile">
<a href="{{  'accounts/' }}{{  user }}"> PROFILE</a>
</li>



</ul>
</div>
    </div>


    </div>

 
    </header>



  {% block content %}
  {% endblock %}




<div class="footer">


    <footer class="footer-distributed">

      <div class="footer-right">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

      </div>

      <div class="footer-left">
      <!--
      <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Blog</a>
      ·
      <a href="#">Pricing</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a>
      </p>
       -->
      <p>Company Name &copy; 2015</p>
      </div>  

    </footer>
</div>



  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="{% static "js/posts.js" %}" type="text/javascript"></script>

  <script src="{% static "js/tabs.js" %}" type="text/javascript"></script>


  <script src="{% static "js/footer.js" %}" type="text/javascript"></script>


  </body>
</html>



